@model Blog.Web.Models.BlogViewModel

@{
    ViewData["Title"] = "Create";
}




<!-- Include the Quill library -->
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card text-black bg-light mt-5" style="border: 2px solid lightsalmon;">
            <div class="card-header">
                <h2>Create</h2>
            </div>
            <div class="card-body">
                <form onsubmit="onsubmit()" id="blogForm" asp-action="Create" enctype="multipart/form-data">

                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="SubTitle" class="control-label"></label>
                        <input asp-for="SubTitle" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Category" class="control-label"></label>
                        <select asp-for="Category" asp-items="@(new SelectList(Model.Categories,"Name","Name"))" class="form-control">
                            <option value="0">Default select</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="input-group-prepend">
                            <label asp-for="ImageFile" class="control-label"></label>
                        </div>
                        <div class="custom-file">
                            <input asp-for="ImageFile" class="form-control" id="inputGroupFile01" />
                            <label id="fileNameLabel" class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>
                    <div>
                        <input id="bloghtml" asp-for="Content" name="Content" type="hidden">
                    </div>
                    <div id="qrcodediv" class="form-group" style="display:none">
                        <div id="qrcode"></div>
                    </div>
                    Click <a id="qrtoggler">here</a> to view the QrCode to scan with your mobile.
                    <br />
                    <div>
                        Content
                        <textarea contenteditable="true" name="editor" id="editor">
                            Please begin writing a journey here
                        </textarea>
                    </div>

                    <div class="form-group">
                        <input id="userId" asp-for="UserId" class="form-control" type="hidden" />
                        <input id="userName" asp-for="UserName" class="form-control" type="hidden" />
                        <input id="userPicPath" asp-for="UserPicPath" class="form-control" type="hidden" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Tags" class="control-label"></label>
                        <input asp-for="Tags" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input id="btnsubmit" type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/signalr/dist/browser/signalr.js"></script>
<script src="/js/chat.js"></script>
<script src="/js/qrcode/qrcode.js"></script>

<!-- Initialize Quill editor -->
<script>

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    onsubmit = function () {
        debugger;

        if ($("#Title").val() == "") {
            alert("Please select a Title for this blog");
            return false;
        }
        if ($("#Category").val() == "0") {
            alert("Please select a Category for this blog");
            return false;
        }
        if ($("#Tags").val() == "0") {
            alert("Please enter atleast one Tag for this blog");
            return false;
        }
        if (document.getElementById("inputGroupFile01").value == "") {
            alert("Please upload an image for the blog");
            return false;
        }

        var blogHTML = $('#bloghtml')[0];
        var data = CKEDITOR.instances.editor.getData();
        blogHTML.value = data
        console.log(blogHTML);

        return true;
    };
    $(document).ready(function () {

        CKEDITOR.replace('editor');
        $("#inputGroupFile01").on('change', function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next(".custom-file-label").html(fileName);
        });

    });

</script>
<script type="text/javascript">
    var qcodediv = $("#qrcodediv");
    var qrtoggler = $("#qrtoggler");


    qrtoggler.on("click", function () {
        if (qrtoggler[0].innerHTML == 'hide') {
            qcodediv.toggle(500);
        }
        else {
            qcodediv.toggle(500);
        }
    });

    var token = window.getCookie("Token");

    var creatorURL = window.location.protocol + '//' + window.location.host + "/anonymus/Creator?id=" + token;
    var qrcode = new QRCode("qrcode", {
        text: creatorURL,
        width: 240,
        height: 240,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    });

</script>