@model IEnumerable<Blog.Entities.BlogEntity>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="sidebar-box">
    <h3 class="heading">Popular Posts</h3>
    <div class="post-entry-sidebar">
        <ul>
            @foreach (var blog in Model)
            {
                <li>
                    <a href="/blog-images/@blog.BlogImage">
                        <img src="/blog-images/@blog.BlogImage" alt="Image placeholder" class="mr-4">
                        <div class="text">
                            <h5>@blog.Title</h5>
                            <div class="post-meta">
                                <span class="mr-2">@blog.CreatedOn.ToString("dddd, dd MMMM yyyy") </span>
                            </div>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>