@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@{
    if (@Model != null)
    {
        <div class="container text-center p-5">
            <h1 class="text-danger">Error ID: @Model.StatusCode</h1>
            <h2 class="text-danger">@Model.Message</h2>
        </div>
    }
    else
    {
        <div class="container text-center p-5">
            <h1 class="text-danger">Error</h1>
            <h2 class="text-danger">An error occurred while processing your request.</h2>
        </div>
    }
}